<%- include('./header.ejs')  %>             
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <h3>Appointments</h3>
                <% if ( err_msg != undefined ){ %>
                    <span class="error_validate flash_msg mx-7 text-danger" aria-hidden="true" >
                        <%= err_msg %>
                    </span>
                <% }%>
                <% if(success_msg!=undefined){ %>
                    <span class="error_validate flash_msg mx-7 text-success" aria-hidden="true" >
                        <%= success_msg %>
                    </span>
                <% }%>
                <ul class="nav nav-tabs mt-4 overflow-x border-0" id="myTab" role="tablist">
                    <li class="nav-item ">
                        <button class="nav-link active" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pendingAppointments" type="button" role="tab" aria-controls="pending" aria-selected="true">Pending</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link font-regular" id="confirmed-tab" data-bs-toggle="tab" data-bs-target="#confirmedAppointments" type="button" role="tab" aria-controls="confirmed" aria-selected="false">Confirmed</button>
                    </li>
                    <li class="nav-item ">
                        <button class="nav-link font-regular" id="rejected-tab" data-bs-toggle="tab" data-bs-target="#rejectedAppointments" type="button" role="tab" aria-controls="rejected" aria-selected="false">Rejected</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link font-regular" id="cancelled-tab" data-bs-toggle="tab" data-bs-target="#cancelledAppointments" type="button" role="tab" aria-controls="cancelled" aria-selected="false">Cancelled</button>
                    </li>
                </ul>
                <div class="tab-content container" id="nav-tabContent">
                    <div class="tab-pane fade show active border-0" id="pendingAppointments" role="tabpanel" aria-labelledby="pending-tab">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Patient Name</th>
                                        <th scope="col">Doctor Name</th>
                                        <th scope="col">Appointment Date/Time</th>
                                        <th scope="col">Department</th>
                                        <th scope="col">Reason to visit</th>
                                        <th scope="col">Status</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (pendingAppointments.length < 1) { %>
                                        <tr>
                                            <td colspan="7"><h6>No pending appointments</h6></td>
                                        </tr>
                                    <% } else { %>
                                        <% for( var i = 0; i < pendingAppointments.length; i++ ) { %>
                                            <tr>
                                                <td><%= pendingAppointments[i].patientName %></td>
                                                <td><%= pendingAppointments[i].doctorName %></td>
                                                <td><%= pendingAppointments[i].dateTime %></td>
                                                <td><%= pendingAppointments[i].department %></td>
                                                <td><%= pendingAppointments[i].reason %></td>
                                                <td><%= pendingAppointments[i].apptStatus %></td>
                                                <td class="text-end">
                                                    <a 
                                                        href="/admin/accept-appointment" 
                                                        class="mx-1 btn btn-sm btn-neutral confirm"
                                                        onclick="location.href=this.href+'/'+ `<%= pendingAppointments[i]._id %>`;return false"
                                                    ><i class="bi bi-check"></i></a>
                                                    <a 
                                                        href="/admin/reject-appointment" 
                                                        class="mx-1 btn btn-sm btn-square btn-neutral cancel"
                                                        onclick="location.href=this.href+'/'+ `<%= pendingAppointments[i]._id %>`;return false"
                                                    ><i class="bi bi-x"></i></a>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } %> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade border-0" id="confirmedAppointments" role="tabpanel" aria-labelledby="confirmed-tab">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Patient Name</th>
                                        <th scope="col">Doctor Name</th>
                                        <th scope="col">Appointment Date/Time</th>
                                        <th scope="col">Department</th>
                                        <th scope="col">Reason to visit</th>
                                        <th scope="col">Status</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (confirmedAppointments.length < 1) { %>
                                        <tr>
                                            <td colspan="7"><h6>No confirmed appointments</h6></td>
                                        </tr>
                                    <% } else { %>
                                        <% for( var i = 0; i < confirmedAppointments.length; i++ ) { %>
                                            <tr>
                                                <td><%= confirmedAppointments[i].patientName %></td>
                                                <td><%= confirmedAppointments[i].doctorName %></td>
                                                <td><%= confirmedAppointments[i].dateTime %></td>
                                                <td><%= confirmedAppointments[i].department %></td>
                                                <td><%= confirmedAppointments[i].reason %></td>
                                                <td><%= confirmedAppointments[i].apptStatus %></td>
                                                <td class="text-end">
                                                    <a 
                                                        href="/admin/cancel-appointment" 
                                                        class="mx-1 btn btn-sm btn-square btn-neutral cancel"
                                                        onclick="location.href=this.href+'/'+ `<%=confirmedAppointments[i]._id %>`;return false"
                                                    ><i class="bi bi-x"></i></a>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade border-0" id="rejectedAppointments" role="tabpanel" aria-labelledby="rejected-tab">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Patient Name</th>
                                        <th scope="col">Doctor Name</th>
                                        <th scope="col">Appointment Date/Time</th>
                                        <th scope="col">Department</th>
                                        <th scope="col">Reason to visit</th>
                                        <th scope="col">Status</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (rejectedAppointments.length < 1) { %>
                                        <tr>
                                            <td colspan="7"><h6>No rejected appointments</h6></td>
                                        </tr>
                                    <% } else { %>
                                        <% for( var i = 0; i < rejectedAppointments.length; i++ ) { %>
                                            <tr>
                                                <td><%= rejectedAppointments[i].patientName %></td>
                                                <td><%= rejectedAppointments[i].doctorName %></td>
                                                <td><%= rejectedAppointments[i].apptDateTime %></td>
                                                <td><%= rejectedAppointments[i].department %></td>
                                                <td><%= rejectedAppointments[i].reason %></td>
                                                <td><%= rejectedAppointments[i].apptStatus %></td>
                                                <td class="text-end">
                                                    <a 
                                                        href="/admin/accept-appointment" 
                                                        class="mx-1 btn btn-sm btn-neutral confirm"
                                                        onclick="location.href=this.href+'/'+ `<%=rejectedAppointments[i]._id %>`;return false"
                                                    ><i class="bi bi-check"></i></a>
                                                    <a 
                                                        href="/admin/delete-appointment" 
                                                        class="mx-1 btn btn-sm btn-square btn-neutral cancel"
                                                        onclick="location.href=this.href+'/'+ `<%=rejectedAppointments[i]._id %>`;return false"
                                                    ><i class="bi bi-trash"></i></a>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade border-0" id="cancelledAppointments" role="tabpanel" aria-labelledby="cancelled-tab">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Patient Name</th>
                                        <th scope="col">Doctor Name</th>
                                        <th scope="col">Appointment Date/Time</th>
                                        <th scope="col">Department</th>
                                        <th scope="col">Reason to visit</th>
                                        <th scope="col">Status</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (cancelledAppointments.length < 1) { %>
                                        <tr>
                                            <td colspan="7"><h6>No cancelled appointments</h6></td>
                                        </tr>
                                    <% } else { %>
                                        <% for( var i = 0; i < cancelledAppointments.length; i++ ) { %>
                                            <tr>
                                                <td><%= cancelledAppointments[i].patientName %></td>
                                                <td><%= cancelledAppointments[i].doctorName %></td>
                                                <td><%= cancelledAppointments[i].dateTime %></td>
                                                <td><%= cancelledAppointments[i].department %></td>
                                                <td><%= cancelledAppointments[i].reason %></td>
                                                <td><%= cancelledAppointments[i].apptStatus %></td>
                                                <td class="text-end">
                                                    <a 
                                                        href="/admin/accept-appointment" 
                                                        class="mx-1 btn btn-sm btn-neutral confirm"
                                                        onclick="location.href=this.href+'/'+ `<%=cancelledAppointments[i]._id %>`;return false"
                                                    ><i class="bi bi-check"></i></a>
                                                    <a 
                                                        href="/admin/delete-appointment" 
                                                        class="mx-1 btn btn-sm btn-square btn-neutral cancel"
                                                        onclick="location.href=this.href+'/'+ `<%=cancelledAppointments[i]._id %>`;return false"
                                                    ><i class="bi bi-trash"></i></a>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
<%- include('./footer.ejs')  %>